<!-- ••[1]••••••••••••••••••••••••• posts-table.component.html •••••••••••••••••••••••••••••• -->

<div class="post-container">
	<ng-container *ngIf="filteredPosts$ | async as filteredPosts">
		<ul class="post-items" *ngIf="filteredPosts.length; else noPostsRef">
			<h1 class="title">Posts</h1>

			<app-filter (filterChange)="filterChangeHandler($event)"></app-filter>

			<li
				class="post"
				*ngFor="let post of filteredPosts; let postIndex = index"
			>
				<app-post-item [post]="post"></app-post-item>
			</li>
		</ul>
	</ng-container>
	<ng-template #noPostsRef>
		<div class="no-posts">
			<span>
				Currently, there are no posts or nothing matches the filter.
			</span>

			<button class="clear-filter" (click)="clearFilterHandler()">
				Clear filter
			</button>
		</div>
	</ng-template>
</div>
